{% extends 'base.html' %}

{% block content %}

<div class="container text-center">
    <div class="accordion" id="accordionPanelsStayOpenExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
        Acerca de mi
      </button>
    </h2>
    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
      <div class="accordion-body">
          Soy desarrolladora backend con experiencia en la creación de soluciones escalables y eficientes. Tengo habilidades analíticas sólidas y una gran capacidad para aprender rápidamente, lo que me permite adaptarme a nuevos retos y tecnologías.
Me considero una persona responsable y comprometida, con un enfoque práctico y orientado a resultados. Busco contribuir con mis conocimientos y colaborar en proyectos innovadores que impulsen el crecimiento tanto del equipo y la empresa.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
        Conocimientos
      </button>
    </h2>
    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
      <div class="accordion-body" style="text-align: left">
          <ul>
                <li>Python (Django, Flask, FastAPI)</li>
                <li>JavaScript (Node.js, Next.js)</li>
                <li>Bases de Datos(PostgreSQL, MySQL, MongoDB)</li>
                <li>HTML - CSS</li>
                <li>Git (GitHub, GitLab)</li>
                <li>PHP (Laravel)</li>
                <li>Metodologías Ágiles (Scrum, Kanban, Jira)</li>
                <li>Patrones de diseño, clean code y principios SOLID</li>
          </ul>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
        Ultima experiencia laboral
      </button>
    </h2>
    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
        <div class="accordion-body" style="text-align: left">
            Formé parte del equipo de desarrollo de software Backend, contribuyendo a la resolución de problemas,
            mejoras y nuevas implementaciones en las aplicaciones de la empresa. <br>
            <strong>Desarrollo Backend (Python - Django):</strong> Participación activa en el diseño e implementación de
            nuevas funcionalidades, con un enfoque en la escalabilidad, rendimiento y eficiencia utilizando Python y
            Django.<br>
            <strong>Resolución de errores:</strong> Diagnóstico y corrección de problemas técnicos, asegurando un
            funcionamiento estable del sistema mediante la solución de fallos en el código y la mejora continua de la
            calidad del software.<br>
            <strong>Metodologías ágiles:</strong> Colaboración en un entorno ágil (Scrum/Kanban), contribuyendo a
            entregas rápidas y de alta calidad, y participando activamente en reuniones de planificación y revisiones de
            sprint.<br>
            <strong>Tecnologías y herramientas:</strong> Uso de herramientas como Git para control de versiones, AWS S3
            para almacenamiento y PostgreSQL para la gestión eficiente de bases de datos.

        </div>
    </div>
  </div>
</div>

</div>


{% endblock %}
